/Android Studio Project/AR meets AI/build
/Android Studio Project/AR meets AI/.idea
build/
generated/
Android Studio Project/AR meets AI/local.properties
Android Studio Project/AR meets AI/.gradle
frontend/.idea
frontend/Assets/Samples

frontend/frontend.iml
frontend/gradlew
frontend/gradlew.bat
frontend/local.properties
frontend/gradle/wrapper/gradle-wrapper.jar
frontend/gradle/wrapper/gradle-wrapper.properties
frontend/Assets/Samples.meta
