/Android Studio Project/AR meets AI/build
/Android Studio Project/AR meets AI/.idea
build/
generated/
Android Studio Project/AR meets AI/local.properties
Android Studio Project/AR meets AI/.gradle
frontend/.idea
frontend/Samples

frontend/frontend.iml
frontend/gradlew
frontend/gradlew.bat
frontend/local.properties
